<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422853837432-mcuu33m80s0ib6p1alk0ck4deh1gmce8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422853837432-mcuu33m80s0ib6p1alk0ck4deh1gmce8</string>
	<key>API_KEY</key>
	<string>AIzaSyCqaeRP2ldmUbV4OS5jHNnnqMDD6_wOwvM</string>
	<key>GCM_SENDER_ID</key>
	<string>422853837432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Cls.TestLogin123</string>
	<key>PROJECT_ID</key>
	<string>test-93387</string>
	<key>STORAGE_BUCKET</key>
	<string>test-93387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422853837432:ios:7528cc636578ddd04c638d</string>
	<key>DATABASE_URL</key>
	<string>https://test-93387.firebaseio.com</string>
</dict>
</plist>